
<!DOCTYPE html>
{% load static %}


<html>
    <head>
        <style>{% block style %}{% endblock %}</style>
        <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <header></header>
    <body >
    <h4 align="center" style="color:red;">{{ message }}</h4>
        <div>
            <div>Login</div>


            <form method="post" id="login" action="">
                {% csrf_token %}
                <div>
                    <input placeholder="Username" type="text" name="username" >
                </div>
                <div>
                    <input placeholder="Password" type="text" name="password">
                 </div>
                <div>
                    <button type="submit" class="buttonLogin">Login</button>
                </div>
            </form>

        </div>

    </body>
<footer></footer>
</html>