{% extends "form/layout.html" %}
{% block title %}{% endblock %}

{% block body %}
<h4 style="color:red;">{{ error }}</h4>
<h3>Создайте форму</h3>

    <form method="post">
        {% csrf_token %}

    <div>
        <h5>Емейл:</h5>
        <input type="text" name="email" >
    </div>
        <h3>Заполните тэги:</h3>
    {% for field in form_fields %}
        <div>
            <h5>{{ field.field_title }}</h5>
            <input id="{{ field.field_title }}" type="text" name="{{ field.field_title }}">
        </div>
    {% endfor %}
    <button type="submit">Создать</button>
</form>

{% endblock %}